<h2>Update the drone</h2>
<div>

<form action="/drones/edit/{{response._id}}" method="post">
<label for="name">Name</label>
<input  name="name" type="text" value="{{response.name}}"></input>

<label for="propellers">Propellers</label>
<input  name="propellers" type="number" value="{{response.propellers}}"></input>

<label for="maxSpeed">Max Speed</label>
<input  name="maxSpeed" type="number" value="{{response.maxSpeed}}"></input>

<button type="submit">Edit Dron</button>
</form>

</div>
<form action="/drones/{{response.id}}/delete" method="post">
<p>{{response.id}}</p>
<button type="submit">Delete</button>
</form>
